@import 'colors';
@import 'mixins';

html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $main-button-color;
}

a:visited {
  color: $a-link-color;
}

header {
  background: $main-color;
  min-height: 24px;

  a:visited {
    color: $main-button-color;
  }

  ul {
    padding: 3px;
    li {
      display: inline-block;
      padding-right: 5px;

      .nested-list {
        padding: 0;
        margin: 0 0 0 11px;
      }
    }
  }

  .logo {
    font-size: 12px;
    span {
      padding: 0 4px;
      border: 1px solid $logo-color;

      a {

        color: $logo-color;
      }
    }
  }

  .heading a{
    color: $main-button-color;
    font-weight: bold;
    text-decoration: none;
  }
}

footer {
  background: $main-background;
  min-height: 95px;

  ul {
    padding: 10px 0 0 0;
    text-align: center;

    li {
      padding-right: 4px;
      font-size: 8pt;
      display: inline-block;
    }
  }
  form {
    padding: 14px 0 0 0;
    text-align: center;
    color: $main-button-color;
    input {
      width: 142px;
      min-height: 19px;
    }
  }
}

.container {
  margin: 0 auto;
  width: 85%;
}

.main {
  background: $main-background;
  min-height: 796px;
  padding: 7px 0;
}

.spacer {
  background: $main-color;
  min-height: 2px;
}

.up-arrow {
  @include arrow('up', $a-link-color);
  float: right;
  margin: 8px 0 0 0;
}

.down-arrow {
  @include arrow('down', $a-link-color);
}

.user-component {
  background: $main-background;
  color: $a-link-color;

  table {
    padding: 18px 0;
  }
}

.comhead {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;
}

.stories {
  .story-link:hover {
    text-decoration: underline;
  }

  li {
    margin: 0 0 5px 0;

    .story-wrapper {
      .story-subtext {
        color: $a-link-color;
        font-size: 9px;
        a {
          color: $a-link-color;
        }
      }
    }
  }

}


