@import 'colors';
@import 'mixins';

html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $header-button-color;
}



header {
  background: $main-color;
  min-height: 24px;

  ul {
    padding: 3px;
    li {
      display: inline-block;

      .nested-list {
        padding: 0;
        margin: 0 0 0 11px;
      }
    }
  }

  .logo span {
    padding: 0 4px;
    border: 1px solid $logo-color;

    a {
      color: $logo-color;
    }
  }

  .heading a{
    font-weight: bold;
    text-decoration: none;
  }
}

footer {
  ul {
    padding: 10px 0 0 0;
    text-align: center;

    li {
      font-size: 8pt;
      display: inline-block;
    }
  }
  form {
    padding: 14px 0 0 0;
    text-align: center;
    color: $a-link-color;
    input {
      width: 142px;
      min-height: 19px;
    }
  }
}





a:visited {
  color: #000;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.main {
  height: 796px;
  background: $background;
}

.spacer {
  height: 2px;
  background: $main-color;
}

footer {
  background: $background;
  height: 95px;
}

