$main-color: #3498db;
$background: #F6F6EF;
$header-button-color: #000;
$logo-color: #FFF;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $header-button-color;
}



header {
  background: $main-color;
  min-height: 24px;

  ul {
    margin: 0;
    padding: 3px;
    list-style: none;
    li {
      display: inline-block;

      .nested-list {
        padding: 0;
        margin: 0 0 0 11px;
      }
    }
  }

}

.logo span {
  padding: 0 4px;
  border: 1px solid $logo-color;

  a {
    color: $logo-color;
  }
}

.heading a{
  font-weight: bold;
  text-decoration: none;
}




a:visited {
  color: #000;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.main {
  height: 796px;
  background: $background;
}

.spacer {
  height: 2px;
  background: $main-color;
}

footer {
  background: $background;
  height: 95px;
}

